@import "./variable";

@mixin generated-text(
  $primary-color: $primary-color,
  $font-weight: $font-weight,
  $width-wrap: $width-wrap
) {
  color: $primary-color;
  font-weight: $font-weight;
  width: $width-wrap;
}

@mixin generated-text1($primary-color: $primary-color) {
  color: $primary-color;
}

@mixin generated-text2($font-wrap: $font-wrap) {
  font-size: $font-wrap;
}

@mixin generated-input(
  $height: $height,
  $width: $width,
  $font-size: $font-size,
  $border: $border
) {
  height: $height;
  width: $width;
  font-size: $font-size;
  border: $border;
}

.table-data {
  @include generated-text2();
}

.rt {
  @include generated-text1();
}

.ft {
  @include generated-text();
}

.text-input {
  @include generated-input();
}