<template>
  <div class="super-container">
    <table class="wrapper">
      <caption>
        TCS Calculation
      </caption>
      <div class="container">
        <thead>
          <tr class="ft sect">
            <th>
              Transaction Amount <br />
              <p>in current FY</p>
            </th>
            <td>6,54,36,5.00</td>
          </tr>
          <tr class="ft sect">
            <th>Transaction Amount</th>
            <td>+2,45,560.00</td>
          </tr>
        </thead>
      </div>

      <div class="backg">
        <tbody>
          <tr class="sect">
            <th><p class="special">Total Amount</p></th>
            <td class="font-weight-bold">=8,99,925.00</td>
          </tr>
          <tr class="sect">
            <th>
              Amount Above Threshold<br />
              <h6 class="font-weight-bold">7 Lacs</h6>
            </th>
            <td class="font-weight-bold right">1.99,925.00</td>
          </tr>
          <div class="border-bottom-custom"></div>
          <tr class="sect">
            <th>
              TCS to be Paid<br />
              <p>@5%</p>
            </th>
            <td class="font-weight-bold right">9,996.00</td>
          </tr>
        </tbody>
      </div>
    </table>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.super-container {
  text-align: -webkit-center;
  // @media screen and (max-width: 1108px) {
  //   margin-left: 185px;
  // }
  caption {
    caption-side: top;
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-top: 58px;
  }
  margin-bottom: 30px;
  .wrapper {
    border-radius: 17px;
    -webkit-box-shadow: -1px 0px 22px -12px rgb(102, 100, 102);
    -moz-box-shadow: -1px 0px 22px -12px rgb(102, 100, 102);
    box-shadow: -1px 0px 22px -12px rgb(102, 100, 102);
    .container {
      padding: 31px;
    }
    p {
      font-size: 10px;
    }
    .backg {
      background-color: #5a5e81;
      color: #fff;
      padding: 31px;
      border-bottom-right-radius: 17px;
      border-bottom-left-radius: 17px;
    }
    .sect {
      display: grid;
      grid-template-columns: 250px auto;
    }
    .special {
      font-size: 17px;
    }
  }
  h3 {
    font-weight: bold;
    margin-top: 80px;
  }
  .right {
    justify-self: flex-end;
  }
  .border-bottom-custom {
    border-bottom: 1px solid grey;
    margin-bottom: 12px;
    margin-top: 12px;
  }
}
</style>