<template>
  <div>
    <div class="backg">
      <div class=" space-between">
        <label class="ft special">PAN No. </label>
        <input type="text" class="text-input" />
      </div>
      <div class=" space-between ">
        <label class="ft special">CRN No. </label>
        <input type="text" class="text-input" />
      </div>
      <div class="space-between">
        <label class="ft special">FC Amount</label>
        <input type="text" class="text-input" />
      </div>
      <div class=" space-between">
        <label class="ft  special">Rate</label>
        <input type="text" class="text-input" />
      </div>
      <div class=" space-between ">
        <label class="ft special">Charges</label>
        <input type="text" class="text-input" />
      </div>
      <div class=" space-between ">
        <label class="ft special">GST</label>
        <input type="text" class="text-input" />
      </div>
    </div>
    <p>*Above PAN/CRN not exempted from paying TCS</p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.backg {
  border-radius: 17px;
  -webkit-box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
  -moz-box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
  box-shadow: -1px 0px 22px -12px rgb(149, 144, 149);
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 35px;
  padding-top: 35px;
  padding-right: 117px;
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  @media screen and (max-width: 786px) and (min-width: 650px) {
    padding-right: 191px;
  }
  @media screen and (max-width: 450px) {
    margin: 0px;
  }
  .space-between {
    justify-self: right;
  }
}
@media screen and (max-width: 450px) {
  .space-between {
    justify-self: end;
  }
}
p {
  display: inline-block;
}
.special {
  width: 97px;
}
p {
  color: #cbcbcb;
  font-weight: bold;
  font-size: 13px;
  margin-left: 86px;
  margin-top: 12px;
}
</style>