<template>
  <table class="table">
    <caption>
      Transaction Details in FY
    </caption>
    <thead>
      <tr>
        <th class="ft">Bill No.</th>
        <th class="ft">Date</th>
        <th class="ft">Channel</th>
        <th class="ft">Total INR Amount</th>
        <th class="ft">TCS Paid</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-data">
        <td class="color-green">1234567</td>
        <td class="color-orange">10-04-2021</td>
        <td>MFX</td>
        <td>Rs.4,00,000.00</td>
        <td>Rs.4,00,000.00</td>
      </tr>
      <tr class="table-data">
        <td class="color-green">1234567</td>
        <td class="color-orange">10-04-2021</td>
        <td>MFX</td>
        <td>Rs.4,00,000.00</td>
        <td>Rs.4,00,000.00</td>
      </tr>
      <tr class="table-data">
        <td class="color-green">1234567</td>
        <td class="color-orange">10-04-2021</td>
        <td>MFX</td>
        <td>Rs.4,00,000.00</td>
        <td>Rs.4,00,000.00</td>
      </tr>
      <tr class="table-data">
        <td class="color-green">1234567</td>
        <td class="color-orange">10-04-2021</td>
        <td>MFX</td>
        <td>Rs.4,00,000.00</td>
        <td>Rs.4,00,000.00</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.table {
  border-collapse: separate;
  border-spacing: 0 17px;
  border-top: none;
  caption {
    caption-side: top;
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin-top: 58px;
  }
  .color-green {
    color: green;
  }

  .color-orange {
    color: orange;
    white-space: nowrap;
  }

  table tr th {
    text-align: left;
    padding: none;
    border: none;
  }

  table tr td {
    padding: 14px;
    border: none;
  }

  .table-data {
    -webkit-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
    -moz-box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
    box-shadow: -1px 0px 22px -12px rgb(179, 174, 179);
  }

  .ft {
    font-size: 20px;
  }
  h3 {
    margin-left: 12px;
    font-weight: bold;
  }
  @media screen and (max-width: 1200px) {
    margin-left: 55px;
    margin-right: 13px;
  }
  @media screen and (max-width: 450px) {
    margin: 0px;
  }
}
</style>
