<template>
  <div id="app">
    <nav-app></nav-app>
    <maininput-app></maininput-app>
    <inputfield-app></inputfield-app>
    <div class="transaction-wrapper">
      <div class="table-responsive">
        <transaction-app></transaction-app>
      </div>
      <div class="table-responsive">
        <billing-app></billing-app>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "../src/components/Nav.vue";
import InputField from "./components/InputField.vue";
import MainInput from "./components/MainInput.vue";
import BillingTable from "./components/BillingTable.vue";
import TransactionTable from "./components/TransactionTable.vue";

export default {
  name: "App",
  components: {
    "nav-app": Nav,
    "inputfield-app": InputField,
    "maininput-app": MainInput,
    "billing-app": BillingTable,
    "transaction-app": TransactionTable,
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

#app {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width: 1200px) {
  #app {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
.transaction-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin-right: 85px;
  margin-left: 25px;
}
@media screen and (max-width: 1200px) {
  .transaction-wrapper {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .transaction-wrapper {
    margin: 0px;
  }
}
@media screen and (max-width: 420px) {
  .table-responsive {
    width: 95%;
  }
}
</style>